<%- include('header') %>

<div class="ui main container">
<h1>Configuration</h1>
<% if (server) { %>
  <div class="ui dividing header">Information server</div>
  <div class="ui list">
    <div class="item">Wifi  
    <% if (server.wifi.status === 'connected') { %>
      <div class="ui orange tiny label">connecté</div>
    <% } %>
    <%= server.wifi.ip %>
    </div>
    <div class="item">MQTT
      <% if (server.mqtt.status === 'connected') { %>
        <div class="ui orange tiny label">connecté</div>
      <% } %>
    </div>
    <div class="item">NTP
      <% if (server.ntp.status === 'connected') { %>
        <div class="ui orange tiny label">connecté</div>
      <% } %>
      <%= server.ntp.uptime %>
      </div>  
  </div>
  <% } %>
<form action="/config" method="POST">
  <div class="ui segment">
   <div class="ui form">
    <h4 class="ui dividing header">
        Serveur IP
    </h4>
      <div class="field">
          <label>adresse ip</label>
          <input type="text" placeholder="192.168.1.10" name="ip">
      </div>
   </div>
  </div>
  <button type="submit" class="ui button" name="server" value="ip">Ajouter</button>
</form>
</div>

<%- include('footer') %>