<!DOCTYPE html>
<html>
  <head>
    <title>Orchestro</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
      <div class="ui fixed inverted menu">
          <a href="/" class="header item">Accueil</a>
          <a href="/plan" class="header item">Planning</a>
          <a href="/config" class="header item">Config</a>
        </div>