<%- include('header') %>

<div class="ui main container">
  <h1>Orchestro</h1>
  <p>Liste des chauffages électriques</p>
  <table class="ui single line table">
    <thead>
      <tr>
        <th>pièce</th>
        <th>mode</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% heatings.forEach(function(h, index) { %>
      <tr>
        <td><%= h.name %></td>
        <td>
            <div class="ui labels">
            <a class="ui blue basic label"><%= ['confort', 'hors-gel', 'arrêt', 'eco'][h.mode] %></a>
            <% if (h.isDefault) { %>
            <a class="ui blue label">défaut</a>
            <% } else { %>
            <a class="ui orange label"><%= h.duration %> <%= h.units %></a>
            <% } %>
          </div>
          <% if (h.leftTime) { %>
            <span><%= h.leftTime.fromNow() %></span>
          <% } %>
          </td>
        <td>
          <form action="/" method="POST">
            <div class="ui form">
            <div class="ui two fields">
              <div class="field">
                  <label>durée</label>
                  <input type="text" placeholder="60" name="duration">
              </div>
              <div class="field">
                <label>unité</label>
                <input type="text" placeholder="0" name="unit">
              </div>
            </div>
            <input type="hidden" name="heating" value="<%= index + 1 %>">
            <div>
            <button class="ui circular icon button" name="mode" value="0">
                <i class="sun icon"></i>
            </button>
            <button class="ui circular icon button" name="mode" value="1">
                <i class="snowflake icon"></i>
            </button>
            <button class="ui circular icon button" name="mode" value="2">
                <i class="stop icon"></i>
            </button>
            <button class="ui circular icon button" name="mode" value="3">
                <i class="moon icon"></i>
            </button>
          </div>
          </div>
          </form>
        </td>
        <td>
          <form action="/plan" method="POST">
            <input type="hidden" name="heating" value="<%= index + 1 %>">
            <button class="ui icon button">
              <i class="calendar alternate icon"></i>
            </button>
          </form>
        </td>
      </tr>
    <% }); %>        
    </tbody>
  </table>
</div>

<%- include('footer') %>
