<%- include('header') %>

<div class="ui main container">
<% if (locals.heating) { %>
<h1>Planning</h1>
<h2><%= heating.name %>
  <div class="ui blue label"><%= ['confort', 'hors-gel', 'arrêt', 'eco'][heating.mode] %> </div> 
  <% if (heating.isDefault) { %> 
    <div class="ui label">défaut</div> 
  <% } %>
</h2>
<form action="/plan" method="POST">
  <input type="hidden" name="heating" value="<%= heating.id %>">
  <div class="ui segment">
   <div class="ui form">
    <h4 class="ui dividing header">
        Nouveau job
    </h4>
    <div class="four fields">
      <div class="field">
          <label>règle</label>
          <input type="text" placeholder="* * * * *" name="rule">
      </div>
      <div class="field">
        <label>mode</label>
        <input type="text" placeholder="0" name="mode">
      </div>
      <div class="field">
        <label>durée</label>
        <input type="text" placeholder="60" name="duration">
      </div>
      <div class="field">
        <label>unité</label>
        <input type="text" placeholder="1" name="unit">
      </div>
    </div>
   </div>
  </div>
  <button type="submit" class="ui button" name="jobs" value="add">Ajouter</button>
</form>
<% } %>
<% if (locals.jobs) { %>
  <div class="ui dividing header">Listes des règles CRON</div>
  <div class="ui list">
  <% jobs.forEach((job) => { %> 
    <div class="item">
      <b><%= job.heating %></b>
        <%= job.rule %> | <%= job.mode %> | <%= job.duration %> <%= ['hrs', 'mins', 'scs'][job.unit] %>
    </div>
  <% }) %>
</div>
<% } %>
<% if (locals.logs && locals.logs.length > 0) { %>
  <div class="ui dividing header">Logs</div>
  <div class="ui list">
  <% logs.forEach((log) => { %> 
    <div class="item"><%= log %></div>
  <% }) %>
  </div>
  <form action="/plan" method="POST">
  <button type="submit" class="ui red button" name="logs" value="del">Vider la log</button>
  </form>
<% } %>

</div>

<%- include('footer') %>